{% extends 'base.html.twig' %}

{% block title %}Terms of Service{% endblock %}
{% block meta_description %}Read our Terms of Service: site access, responsibilities, copyrights, and user conduct rules.
{% endblock %}

{% block body %}

<main id="content" class="min-h-screen w-full flex flex-col justify-center items-center bg-[url('/img/bg3.jpg')] bg-cover bg-center gap-8">

</main>

{% endblock %}
