{% extends 'base.html.twig' %}

{% set title = "Terms of Service"%}
{% set meta_description = "Read our Terms of Service: site access, responsibilities, copyrights, and user conduct rules." %}

{% block og_type %}website{% endblock %}
{# --- Directive SEO pour robots --- #}
{% block meta_robots %}index, follow{% endblock %}

{# --- A ajouter une fois le site terminé --- #}
{# {% block og_image %}/images/og-default.jpg{% endblock %} #} 
{# {% block twitter_image %}/images/twitter-default.jpg{% endblock %} #}

{% block body %}

<main id="content" class=" flex flex-col justify-center items-center bg-white-muted dark:bg-black-950 gap-8 w-full lg:w-3/4">
    <section class=" flex flex-row gap-4 items-center justify-center py-8 sm:py-10 border-t border-grey-800 first:border-none">
        <svg width="74" viewBox="0 0 90 73" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M27.566 47.1031C27.5886 48.2743 27.963 50.5536 28.5225 52.3328C29.7364 56.1677 31.7752 59.6914 34.496 62.6572C37.4141 65.8615 40.9761 68.4156 44.9496 70.1527C49.2731 72.0546 53.9497 73.0247 58.6742 72.9995C63.3988 73.0084 68.0722 72.023 72.3898 70.1076C76.3593 68.3559 79.9173 65.7933 82.8344 62.5851C85.5503 59.6079 87.5868 56.0777 88.8034 52.2382C89.9696 48.5193 90.2887 44.5871 89.7373 40.7292C89.2118 37.0328 87.9145 33.4878 85.9294 30.3238C84.0898 27.3802 81.7366 24.7897 78.9814 22.6751H78.9904L50.8735 1.11206L50.8013 1.058C48.956 -0.356413 45.8565 -0.351909 43.8262 1.06701C41.7734 2.49945 41.5388 4.86882 43.366 6.35981L43.357 6.36882L55.0874 15.8914L19.3412 15.9274H19.2961C16.3409 15.9319 13.4985 17.8643 12.9345 20.3148C12.3616 22.8058 14.3648 24.8688 17.4372 24.8824V24.8914L35.5517 24.8598L3.22085 49.6346L3.09903 49.7247C0.0491192 52.0581 -0.934432 55.9319 0.983042 58.3869C2.9321 60.8824 7.07836 60.8869 10.1598 58.4004L27.8006 43.986C27.8006 43.986 27.548 45.9319 27.566 47.0986V47.1031ZM72.9041 53.6211C69.2677 57.3148 64.1785 59.4139 58.6742 59.4274C53.1564 59.4364 48.0717 57.3554 44.4308 53.6662C42.6577 51.8644 41.3493 49.7968 40.5462 47.5941C39.7734 45.4493 39.4678 43.1646 39.6498 40.8925C39.8319 38.6204 40.4974 36.4132 41.6019 34.4184C42.6999 32.4461 44.1672 30.7027 45.9241 29.2833C49.5345 26.3869 54.0338 24.82 58.6652 24.8463C63.2928 24.8065 67.7926 26.3608 71.4062 29.2472C73.1626 30.6601 74.6301 32.3974 75.7285 34.3643C76.8217 36.3329 77.4873 38.5093 77.682 40.7517C77.8831 43.0495 77.5782 45.3634 76.7887 47.531C75.946 49.8156 74.6212 51.8926 72.9041 53.6211ZM46.9167 41.049C47.0103 39.5997 47.401 38.185 48.0645 36.8926C48.728 35.6002 49.6503 34.4576 50.7742 33.5355C53.1035 31.6026 56.0425 30.5543 59.0712 30.5761C62.0981 30.5573 65.0346 31.6053 67.3637 33.5355C68.4867 34.4574 69.4084 35.5994 70.0719 36.8909C70.7354 38.1825 71.1265 39.5961 71.2213 41.0445C71.3882 44.1211 70.152 46.986 67.9728 49.1076C65.5766 51.3902 62.3829 52.6491 59.0712 52.6166C55.5386 52.6166 52.3759 51.2653 50.1606 49.1031C49.0718 48.0724 48.2183 46.8193 47.6585 45.4294C47.0987 44.0395 46.8457 42.5454 46.9167 41.049Z" fill="currentColor"/>
        </svg>
        <h1 class=" text-5xl font-bold select-none">Terms of Service</h1>
    </section>
    <section class=" flex flex-col w-2/3 gap-8 lg:text-center max-w-3xl mx-auto px-4 text-justify pt-8 sm:pt-10 border-t border-grey-800 first:border-none">
        <article class=" flex flex-col gap-4 my-4">
            <p class=" italic font-thin">Last updated: 02/07/2025</p>
            <p>These Terms of Service ("Terms") govern your access to and use of this website, operated by Charles Lindecker ("we", "our", or "us"). By accessing or using the website, you agree to be bound by these Terms.</p>
        </article>
        <article id="information-collect" class=" flex flex-col gap-4 my-4">
            <div class=" flex flex-row gap-4 items-center justify-start lg:justify-center tilt-card">
                <svg width="42" class=" text-purple-500" viewBox="0 0 51 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M50.501 25.0011C50.501 29.9458 49.0347 34.7795 46.2876 38.8909C43.5404 43.0023 39.6358 46.2067 35.0675 48.099C30.4991 49.9913 25.4722 50.4864 20.6225 49.5217C15.7728 48.557 11.318 46.1759 7.82155 42.6795C4.32509 39.183 1.94397 34.7282 0.979301 29.8785C0.0146297 25.0288 0.509734 20.0019 2.402 15.4336C4.29427 10.8652 7.49872 6.96059 11.6101 4.21344C15.7215 1.46629 20.5552 0 25.5 0C28.7832 0 32.0342 0.646671 35.0675 1.90309C38.1007 3.15951 40.8568 5.00108 43.1784 7.32264C45.4999 9.6442 47.3415 12.4003 48.5979 15.4336C49.8543 18.4668 50.501 21.7179 50.501 25.0011ZM37.4905 32.4568C37.4846 32.2756 37.4461 32.097 37.3768 31.9295C37.2744 31.6935 37.1238 31.4816 36.9347 31.3074L35.7221 30.0916L35.3715 29.7474L35.3652 29.7411L27.5905 21.96L27.581 21.9442L26.681 21.0442L24.1515 23.5737C23.6809 24.0702 23.0819 24.4265 22.421 24.6032C21.8676 24.7475 21.287 24.7527 20.7311 24.6182C20.1751 24.4838 19.6611 24.2139 19.2347 23.8326L19.2031 23.8011L19.1494 23.7537L18.5968 23.2011C18.0304 22.6624 17.6603 21.95 17.5452 21.1768C17.4653 20.6317 17.5106 20.0755 17.6779 19.5505C17.847 19.0211 18.1281 18.5343 18.5021 18.1232L18.5273 18.0916L18.5684 18.0505L20.441 16.1779L16.3894 12.0474L8.64944 19.9105L10.6105 21.7611L12.5463 23.6937C12.4395 24.17 12.4055 24.6598 12.4452 25.1463C12.4908 25.6987 12.6065 26.2431 12.7894 26.7663C13.0011 27.3734 13.2842 27.9533 13.6326 28.4937C14.0435 29.1297 14.5232 29.7185 15.0631 30.2495L26.0368 41.2232C26.1809 41.3723 26.3553 41.4886 26.5484 41.5642C26.7144 41.6235 26.8902 41.6503 27.0663 41.6432C27.2905 41.6259 27.5006 41.527 27.6568 41.3653L28.1968 40.8284C28.3166 40.6936 28.4002 40.5306 28.44 40.3547C28.4783 40.184 28.4762 40.0066 28.4337 39.8368C28.3643 39.5976 28.2285 39.383 28.0421 39.2179L26.7158 37.8789C26.6746 37.8415 26.6416 37.796 26.6187 37.7453C26.5958 37.6946 26.5835 37.6398 26.5826 37.5842C26.5817 37.5285 26.5922 37.4733 26.6135 37.4219C26.6348 37.3705 26.6664 37.324 26.7063 37.2853L26.9715 37.0705C27.0235 37.0198 27.0932 36.9914 27.1658 36.9914C27.2383 36.9914 27.308 37.0198 27.36 37.0705L29.381 39.0537C30.0442 39.7168 30.6326 39.8211 31.1463 39.3663L31.6831 38.8263C31.7648 38.7435 31.8349 38.65 31.8915 38.5484C31.9567 38.4284 31.9894 38.2934 31.9863 38.1568C31.98 37.9803 31.9336 37.8075 31.8505 37.6516C31.7296 37.4266 31.5728 37.2229 31.3863 37.0484L29.4347 35.1379C29.3539 35.0573 29.3082 34.948 29.3076 34.8338C29.307 34.7196 29.3515 34.6099 29.4315 34.5284L29.6273 34.3295C29.6649 34.2909 29.7099 34.2604 29.7597 34.2399C29.8095 34.2193 29.8629 34.2092 29.9168 34.2101C29.9706 34.211 30.0237 34.2228 30.0727 34.245C30.1218 34.2672 30.1658 34.2991 30.2021 34.3389L32.3179 36.4958C32.3905 36.5716 32.4884 36.6663 32.6147 36.78C32.7356 36.8932 32.8771 36.9822 33.0315 37.0421C33.1897 37.1055 33.3618 37.1262 33.5305 37.1021C33.7427 37.0568 33.9344 36.9437 34.0768 36.78L34.7589 36.0979C34.8406 36.0151 34.9107 35.9216 34.9673 35.82C35.0327 35.7 35.0653 35.565 35.0621 35.4284C35.0558 35.2557 35.0116 35.0864 34.9326 34.9326C34.834 34.7281 34.698 34.5439 34.5315 34.3895L32.4915 32.3937C32.4411 32.3433 32.4011 32.2833 32.3739 32.2174C32.3467 32.1514 32.3328 32.0807 32.3331 32.0093C32.3334 31.938 32.3478 31.8674 32.3756 31.8017C32.4033 31.7359 32.4438 31.6763 32.4947 31.6263L32.5705 31.5411C32.6131 31.4983 32.664 31.4647 32.7201 31.4423C32.7762 31.42 32.8363 31.4094 32.8967 31.4112C32.9571 31.4129 33.0164 31.4271 33.0711 31.4527C33.1258 31.4783 33.1747 31.5148 33.2147 31.56L34.9294 33.3095C34.9768 33.3568 35.0558 33.4358 35.1758 33.5432C35.3008 33.6566 35.4424 33.7504 35.5958 33.8211C35.7607 33.8969 35.9419 33.9305 36.1231 33.9189C36.3486 33.8897 36.5555 33.7784 36.7042 33.6063L37.2442 33.0663C37.3036 32.9991 37.3545 32.9249 37.3958 32.8453C37.4598 32.7249 37.4914 32.59 37.4873 32.4537L37.4905 32.4568ZM42.1389 19.7653L34.4337 12.06L31.5758 14.9179C30.5766 14.7089 29.5633 14.5748 28.5442 14.5168C27.9712 14.4842 27.3966 14.5001 26.8263 14.5642C26.2711 14.6267 25.7265 14.7615 25.2063 14.9653C24.6936 15.164 24.2279 15.4672 23.8389 15.8558L20.1315 19.5663L20.1252 19.5726C19.9585 19.7532 19.8324 19.9675 19.7558 20.2011L19.7526 20.2168C19.6858 20.4312 19.6685 20.658 19.7021 20.88C19.7575 21.1818 19.9106 21.457 20.1379 21.6632L20.6747 22.2C20.8405 22.3497 21.0415 22.455 21.2589 22.5063L21.2715 22.5095C21.4782 22.5548 21.6927 22.5493 21.8968 22.4937C22.1742 22.4099 22.4233 22.2515 22.6168 22.0358L25.9136 18.7389C26.1178 18.5355 26.3944 18.4213 26.6826 18.4213C26.9708 18.4213 27.2473 18.5355 27.4515 18.7389L36.9 28.2032L37.0263 28.3295L37.2789 27.9505C37.6192 27.4229 37.8958 26.8568 38.1031 26.2642C38.2824 25.7479 38.396 25.211 38.441 24.6663C38.461 24.3993 38.461 24.1312 38.441 23.8642C38.4287 23.7088 38.4502 23.5526 38.5042 23.4063L42.1389 19.7653ZM32.3115 35.1316L32.3242 35.1221C32.2886 35.1473 32.2517 35.1705 32.2137 35.1916C32.2454 35.1692 32.278 35.1481 32.3115 35.1284V35.1316Z" fill="currentColor"/>
                </svg>
                <h2 class=" font-medium text-3xl ml-2 text-purple-600">Information We Collect</h2>
            </div>
            <div class=" flex flex-col gap-1">
                <p>By using this website, you confirm that you have read, understood, and agree to comply with these Terms. If you do not agree, please do not use this website.</p>
            </div>
        </article>
        <article id="use-website" class=" flex flex-col gap-4 my-4">
            <div  class=" flex flex-row gap-4 items-center justify-start lg:justify-center tilt-card">
                <svg width="36" class=" text-purple-500" viewBox="0 0 61 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M52.2425 44.6793C48.6519 43.485 44.7913 42.5925 40.7281 42.015C41.2813 38.7657 41.5756 35.3606 41.6694 31.875H56.6788C56.3431 36.6019 54.755 40.9762 52.2425 44.6793ZM36.9388 55.4232C38.1875 52.4063 39.2094 49.1457 39.995 45.7107C43.3662 46.2094 46.5987 46.9463 49.6606 47.9138C46.2781 51.5194 41.8869 54.1725 36.9388 55.4232ZM32.3206 56.1581C31.7169 56.2012 31.115 56.25 30.5 56.25C29.885 56.25 29.285 56.2012 28.6794 56.1581C27.0838 52.8356 25.7919 49.1382 24.8356 45.2138C26.6994 45.0507 28.5875 44.955 30.5 44.955C32.4125 44.955 34.3006 45.0507 36.1663 45.2138C35.2081 49.1382 33.9162 52.8356 32.3206 56.1581ZM11.3394 47.9138C14.4013 46.9463 17.6338 46.2094 21.005 45.7107C21.7906 49.1457 22.8125 52.4063 24.0612 55.4232C19.1131 54.1725 14.7238 51.5194 11.3394 47.9138ZM8.75751 44.6793C6.24501 40.9762 4.65686 36.6019 4.32124 31.875H19.3306C19.4244 35.3606 19.7187 38.7657 20.2719 42.015C16.2087 42.5925 12.3481 43.485 8.75751 44.6793ZM8.75751 15.3207C12.3481 16.515 16.2087 17.4093 20.2719 17.985C19.7187 21.2343 19.4244 24.6394 19.3306 28.125H4.32124C4.65686 23.3981 6.24501 19.0238 8.75751 15.3207ZM24.0612 4.57684C22.8125 7.59371 21.7906 10.8543 21.005 14.2893C17.6338 13.7924 14.4013 13.0537 11.3394 12.0862C14.7238 8.48059 19.1131 5.82746 24.0612 4.57684ZM28.6794 3.8419C29.285 3.80065 29.885 3.75 30.5 3.75C31.115 3.75 31.7169 3.80065 32.3206 3.8419C33.9162 7.1644 35.2081 10.8637 36.1663 14.7862C34.3006 14.9493 32.4125 15.045 30.5 15.045C28.5875 15.045 26.6994 14.9493 24.8356 14.7862C25.7919 10.8637 27.0838 7.1644 28.6794 3.8419ZM37.9137 31.875C37.8125 35.1769 37.5125 38.4244 36.9481 41.5425C34.8369 41.3588 32.69 41.25 30.5 41.25C28.31 41.25 26.1631 41.3588 24.0537 41.5425C23.4875 38.4244 23.1875 35.1769 23.0881 31.875H37.9137ZM23.0881 28.125C23.1875 24.8231 23.4875 21.5756 24.0537 18.4575C26.1631 18.6412 28.31 18.75 30.5 18.75C32.69 18.75 34.8369 18.6412 36.9463 18.4575C37.5125 21.5756 37.8125 24.8231 37.9137 28.125H23.0881ZM49.6606 12.0862C46.5987 13.0537 43.3662 13.7924 39.995 14.2893C39.2094 10.8543 38.1875 7.59371 36.9388 4.57684C41.8869 5.82746 46.2781 8.48059 49.6606 12.0862ZM52.2425 15.3207C54.755 19.0238 56.3431 23.3981 56.6788 28.125H41.6694C41.5756 24.6394 41.2813 21.2343 40.7281 17.985C44.7913 17.4093 48.6519 16.515 52.2425 15.3207ZM30.5 0C13.9325 0 0.5 13.4306 0.5 30C0.5 46.5694 13.9325 60 30.5 60C47.0675 60 60.5 46.5694 60.5 30C60.5 13.4306 47.0675 0 30.5 0Z" fill="currentColor"/>
                </svg>
                <h2 class=" font-medium text-3xl ml-2 text-purple-600">Use of the Website</h2>
            </div>
            <div class=" flex flex-col gap-1">
                <p>You agree to use the website only for lawful purposes and in a way that does not infringe upon the rights of others or restrict their use of the site.</p>
                <div>
                    <p class=" font-semibold">Prohibited uses include:</p>
                    <ul class="list-disc lg:list-none pl-6 dark:marker:text-white">
                        <li>Uploading or distributing malicious content</li>
                        <li>Attempting unauthorized access to the website or its systems</li>
                        <li>Violating any applicable laws or regulations</li>
                    </ul>
                </div>
            </div>
        </article>
        <article id="user-account" class=" flex flex-col gap-4 my-4">
            <div  class=" flex flex-row gap-4 items-center justify-start lg:justify-center tilt-card">
                <svg width="30" class=" text-purple-500" viewBox="0 0 45 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M22.5 22.5C28.7132 22.5 33.75 17.4632 33.75 11.25C33.75 5.03681 28.7132 0 22.5 0C16.2868 0 11.25 5.03681 11.25 11.25C11.25 17.4632 16.2868 22.5 22.5 22.5Z" fill="currentColor"/>
                    <path d="M45 41.25C45 35.0366 39.9634 30 33.75 30H11.25C5.03681 30 0 35.0366 0 41.25V52.5H45V41.25Z" fill="currentColor"/>
                </svg>
                <h2 class=" font-medium text-3xl ml-2 text-purple-600">User Accounts</h2>
            </div>
            <div class=" flex flex-col gap-1">
                <p>Some features may require you to create an account.</p>
                <p>You are responsible for maintaining the confidentiality of your login credentials and for all activities under your account.</p>
                <p>We reserve the right to suspend or delete accounts that violate these Terms or compromise the website's integrity.</p>
            </div>
        </article>
        <article id="content-owner-licence" class=" flex flex-col gap-4 my-4">
            <div class=" flex flex-row gap-4 items-center justify-start lg:justify-center tilt-card">
                <svg width="36" class=" text-purple-500" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.1" d="M25.5 38H13C10.2386 38 8 35.7615 8 33V8C8 5.23857 10.2386 3 13 3H35.5C38.2615 3 40.5 5.23857 40.5 8V43C40.5 45.7615 38.2615 48 35.5 48C32.7385 48 30.5 45.7615 30.5 43C30.5 40.2385 28.2615 38 25.5 38Z" fill="currentColor"/>
                    <path d="M43 3H18C13.286 3 10.9289 3 9.46448 4.46447C8 5.92892 8 8.28595 8 13V21.75V38" stroke="currentColor" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M30.5 38V43C30.5 45.7615 32.7385 48 35.5 48C38.2615 48 40.5 45.7615 40.5 43V18V6.75C40.5 4.67893 42.179 3 44.25 3C46.321 3 48 4.67893 48 6.75C48 8.82107 46.321 10.5 44.25 10.5H41.75" stroke="currentColor" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M35.5 48H8C5.23857 48 3 45.7615 3 43C3 40.2385 5.23857 38 8 38H30.5" stroke="currentColor" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M18 13H30.5" stroke="currentColor" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M18 23H30.5" stroke="currentColor" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <h2 class=" font-medium text-3xl ml-2 text-purple-600">Content Ownership and Licensing</h2>
            </div>
            <div class=" flex flex-col gap-1">
                <p>All content specifically created by us is provided under an open source license. Contributions from other users or third-party projects are subject to their own licensing terms.</p>
                <p>You may reuse, share, or modify open source materials in accordance with the applicable license (see <a href="{{ asset('LICENSE') }}" target="_blank" class=" text-blue-500 font-bold relative after:content-[''] after:absolute after:left-0 after:-bottom-0.5 after:h-0.5 after:w-0 after:bg-purple-500 after:transition-all after:duration-300 hover:after:w-full hover:text-purple-500 active:scale-95 active:after:bg-purple-700">LICENSE</a>).</p>
            </div>
        </article>
        <article id="limitation-liability" class=" flex flex-col gap-4 my-4">
            <div  class=" flex flex-row gap-4 items-center justify-start lg:justify-center tilt-card">
                <svg width="38" class=" text-purple-500" viewBox="0 0 61 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M30.5 0C47.0685 0 60.5 13.4315 60.5 30C60.5 46.5685 47.0685 60 30.5 60C13.9315 60 0.5 46.5685 0.5 30C0.5 13.4315 13.9315 0 30.5 0ZM30.1926 41.9589C27.5529 41.9589 25.4054 44.1064 25.4054 46.7461C25.4054 49.3858 27.5529 51.5333 30.1926 51.5333C32.8322 51.5333 34.9798 49.3858 34.9798 46.7461C34.9798 44.1064 32.8322 41.9589 30.1926 41.9589ZM36.5518 10H23.8333L26.9308 38.082H33.4544L36.5518 10Z" fill="currentColor"/>
                </svg>
                <h2 class=" font-medium text-3xl ml-2 text-purple-600">Limitation of Liability</h2>
            </div>
            <div class=" flex flex-col gap-1">
                <div>
                    <p class=" font-semibold">To the fullest extent permitted by law, we shall not be liable for any direct, indirect, incidental, or consequential damages resulting from:</p>
                    <ul class="list-disc lg:list-none pl-6 dark:marker:text-white">
                        <li>The use or inability to use the website</li>
                        <li>Unauthorized access to your data</li>
                        <li>Any third-party links or content</li>
                    </ul>
                </div>
                <p>Use of this website is at your own risk.</p>
            </div>
        </article>
        <article id="privacy" class=" flex flex-col gap-4 my-4">
            <div  class=" flex flex-row gap-4 items-center justify-start lg:justify-center tilt-card">
                <svg width="42" class=" text-purple-500" viewBox="0 0 61 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M30.5 28.8C28.7 28.8 27.5 30 27.5 31.8C27.5 33 28.4 33.9 29.3 34.2L28.4 38.4H32.3L31.4 34.2C32.6 33.9 33.2 33 33.2 31.8C33.5 30 32.3 28.8 30.5 28.8ZM30.8 15.9C28.7 15.9 26.6 17.4 26.6 19.5V24H34.7V19.5C34.4 17.4 32.9 15.9 30.8 15.9ZM30.5 6L9.5 15V24C9.8 37.2 18.2 48.9 30.5 53.7C42.8 48.9 51.2 37.2 51.5 24V15L30.5 6ZM42.5 39C42.5 40.8 41.3 42 39.5 42H21.5C19.7 42 18.5 40.8 18.5 39V27C18.5 25.2 19.7 24 21.5 24H22.4V19.5C22.7 15.3 26.3 12 30.5 12C34.7 12 38.3 15.3 38.6 19.5V24H39.5C41.3 24 42.5 25.2 42.5 27V39Z" fill="currentColor"/>
                </svg>
                <h2 class=" font-medium text-3xl ml-2 text-purple-600">Privacy</h2>
            </div>
            <div class=" flex flex-col gap-1">
                <p>Your use of the website is also governed by our <a href="{{ path('app_privacy_policy') }}"  class="text-blue-500 font-bold relative after:content-[''] after:absolute after:left-0 after:-bottom-0.5 after:h-0.5 after:w-0 after:bg-purple-500 after:transition-all after:duration-300 hover:after:w-full hover:text-purple-500 active:scale-95 active:after:bg-purple-700">Privacy Policy</a>, which explains how we collect and use your data.</p>
            </div>
        </article>
        <article id="termination" class=" flex flex-col gap-4 my-4">
            <div  class=" flex flex-row gap-4 items-center justify-start lg:justify-center tilt-card">
                <svg width="38" class=" text-purple-500" viewBox="0 0 61 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.5 30C0.5 34.08 1.3 37.96 2.9 41.64C4.5 45.32 6.62 48.52 9.26 51.24C11.9 53.96 15.1 56.1 18.86 57.66C22.62 59.22 26.5 60 30.5 60C34.5 60 38.38 59.22 42.14 57.66C45.9 56.1 49.1 53.96 51.74 51.24C54.38 48.52 56.5 45.32 58.1 41.64C59.7 37.96 60.5 34.08 60.5 30C60.5 25.92 59.7 22.04 58.1 18.36C56.5 14.68 54.38 11.48 51.74 8.76C49.1 6.04 45.92 3.92 42.2 2.4C38.48 0.88 34.58 0.08 30.5 0C26.42 0 22.54 0.8 18.86 2.4C15.18 4 11.98 6.12 9.26 8.76C6.54 11.4 4.42 14.6 2.9 18.36C1.38 22.12 0.58 26 0.5 30ZM8 30C8 25.28 9.4 20.96 12.2 17.04L43.52 48.36C39.56 51.12 35.22 52.5 30.5 52.5C26.42 52.5 22.66 51.5 19.22 49.5C15.78 47.5 13.04 44.78 11 41.34C8.96 37.9 7.96 34.12 8 30ZM17.48 11.7C21.44 8.9 25.78 7.5 30.5 7.5C34.58 7.5 38.34 8.52 41.78 10.56C45.22 12.6 47.96 15.32 50 18.72C52.04 22.12 53.04 25.88 53 30C53 34.76 51.6 39.1 48.8 43.02L17.48 11.7Z" fill="currentColor"/>
                </svg>
                <h2 class=" font-medium text-3xl ml-2 text-purple-600">Termination</h2>
            </div>
            <div class=" flex flex-col gap-1">
                <p>We may terminate or suspend your access to the website at any time, without prior notice, for conduct that violates these Terms.</p>
            </div>
        </article>
        <article id="changes" class=" flex flex-col gap-4 my-4">
            <div  class=" flex flex-row gap-4 items-center justify-start lg:justify-center tilt-card">
                <svg width="34" class=" text-purple-500" viewBox="0 0 49 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M38.825 34.7557C35.9943 38.652 31.8525 41.396 27.1608 42.4835C22.469 43.571 17.5425 42.929 13.2862 40.6752C9.02988 38.4217 5.7297 34.708 3.992 30.2162C2.2543 25.7245 2.19575 20.7567 3.82715 16.2253C5.45855 11.6939 8.6703 7.90337 12.8724 5.55012C17.0744 3.19687 21.9845 2.43895 26.7005 3.41557C31.4165 4.39222 35.6218 7.03785 38.5438 10.8664C41.4655 14.6949 42.9078 19.4492 42.6053 24.2557M42.6053 24.2557L46.3553 20.5057M42.6053 24.2557L38.8553 20.5057" stroke="currentColor" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M22.6448 13V23L30.1448 30.5" stroke="currentColor" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <h2 class=" font-medium text-3xl ml-2 text-purple-600">Changes to the Terms</h2>
            </div>
            <div class=" flex flex-col gap-1">
                <p>We reserve the right to modify these Terms at any time. Changes will be posted on this page and take effect immediately upon publication.</p>
            </div>
        </article>
        <article id="governing-law" class=" flex flex-col gap-4 my-4">
            <div  class=" flex flex-row gap-4 items-center justify-start lg:justify-center tilt-card">
                <svg width="34" class=" text-purple-500" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.48195 48H45.4819M25.4819 48V13M25.4819 13C28.2434 13 30.4819 10.7614 30.4819 8M25.4819 13C22.7206 13 20.482 10.7614 20.482 8M30.4819 8C30.4819 5.23857 28.2434 3 25.4819 3C22.7206 3 20.482 5.23857 20.482 8M30.4819 8H45.4819M20.482 8H5.48195M10.482 38C14.2633 38 17.3911 35.896 17.9072 32.3782C17.9399 32.1552 17.9563 32.0438 17.9435 31.7965C17.9347 31.6258 17.8768 31.314 17.8239 31.1512C17.7472 30.916 17.6542 30.7508 17.4683 30.42L10.482 18L3.49563 30.42C3.32325 30.7265 3.23708 30.8797 3.15735 31.146C3.1083 31.3097 3.05153 31.7028 3.05225 31.8735C3.0534 32.1515 3.0702 32.2248 3.10385 32.3715C3.74125 35.15 6.80213 38 10.482 38ZM40.4819 38C44.2634 38 47.3911 35.896 47.9071 32.3782C47.9399 32.1552 47.9564 32.0438 47.9434 31.7965C47.9346 31.6258 47.8769 31.314 47.8239 31.1512C47.7471 30.916 47.6541 30.7508 47.4681 30.42L40.4819 18L33.4956 30.42C33.3234 30.7265 33.2371 30.8797 33.1574 31.146C33.1084 31.3097 33.0516 31.7028 33.0521 31.8735C33.0534 32.1515 33.0701 32.2248 33.1039 32.3715C33.7414 35.15 36.8021 38 40.4819 38Z" stroke="currentColor" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <h2 class=" font-medium text-3xl ml-2 text-purple-600">Governing Law</h2>
            </div>
            <div class=" flex flex-col gap-1">
                <p>These Terms are governed by the laws of France. Any disputes shall be resolved by the competent courts of Paris, France.</p>
            </div>
        </article>
        <article id="contact" class=" flex flex-col gap-4 my-4">
            <div  class=" flex flex-row gap-4 items-center justify-start lg:justify-center tilt-card">
                <svg width="36" class=" text-purple-500" viewBox="0 0 61 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M60.5 6.32081V43.4939L45.995 25.3644L43.2387 27.5702L57.8849 45.8797H3.11512L17.7613 27.5702L15.005 25.3644L0.5 43.4939V6.32078L30.4982 32.3346L60.5 6.32081ZM60.4979 0V1.64459L30.4997 27.6583L0.501406 1.64462V0H60.4979Z" fill="currentColor"/>
                </svg>
                <h2 class=" font-medium text-3xl ml-2 text-purple-600">Contact</h2>
            </div>
            <div class=" flex flex-col gap-1">
                <p class=" font-semibold">If you have any questions regarding these Terms, please contact:</p>
                <p>Charles Lindecker</p>
                <p>Email: <a href="mailto:charles.lindecker@outlook.fr" target="_blank" class=" text-blue-500 font-bold relative after:content-[''] after:absolute after:left-0 after:-bottom-0.5 after:h-0.5 after:w-0 after:bg-purple-500 after:transition-all after:duration-300 hover:after:w-full hover:text-purple-500 active:scale-95 active:after:bg-purple-700">charles.lindecker@outlook.fr</a></p>
            </div>
        </article>
    </section>
{% include "partials/up-btn.html.twig" %}
    <div class="sticky-sidebar fixed right-6 top-1/2 -translate-y-1/2 z-40 hidden lg:flex flex-col justify-center items-center gap-4 bg-black/60 backdrop-blur-md border border-white/10 rounded-xl p-3 shadow-lg min-w-[150px]">
        <button data-modal-id="information-collect" class="flex gap-4 items-center justify-center h-12 rounded-full p-6 bg-gray-900 text-purple-600 hover:text-black-950 hover:bg-purple-600 transition">
            <svg width="40" class=" text-purple-500" viewBox="0 0 51 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M50.501 25.0011C50.501 29.9458 49.0347 34.7795 46.2876 38.8909C43.5404 43.0023 39.6358 46.2067 35.0675 48.099C30.4991 49.9913 25.4722 50.4864 20.6225 49.5217C15.7728 48.557 11.318 46.1759 7.82155 42.6795C4.32509 39.183 1.94397 34.7282 0.979301 29.8785C0.0146297 25.0288 0.509734 20.0019 2.402 15.4336C4.29427 10.8652 7.49872 6.96059 11.6101 4.21344C15.7215 1.46629 20.5552 0 25.5 0C28.7832 0 32.0342 0.646671 35.0675 1.90309C38.1007 3.15951 40.8568 5.00108 43.1784 7.32264C45.4999 9.6442 47.3415 12.4003 48.5979 15.4336C49.8543 18.4668 50.501 21.7179 50.501 25.0011ZM37.4905 32.4568C37.4846 32.2756 37.4461 32.097 37.3768 31.9295C37.2744 31.6935 37.1238 31.4816 36.9347 31.3074L35.7221 30.0916L35.3715 29.7474L35.3652 29.7411L27.5905 21.96L27.581 21.9442L26.681 21.0442L24.1515 23.5737C23.6809 24.0702 23.0819 24.4265 22.421 24.6032C21.8676 24.7475 21.287 24.7527 20.7311 24.6182C20.1751 24.4838 19.6611 24.2139 19.2347 23.8326L19.2031 23.8011L19.1494 23.7537L18.5968 23.2011C18.0304 22.6624 17.6603 21.95 17.5452 21.1768C17.4653 20.6317 17.5106 20.0755 17.6779 19.5505C17.847 19.0211 18.1281 18.5343 18.5021 18.1232L18.5273 18.0916L18.5684 18.0505L20.441 16.1779L16.3894 12.0474L8.64944 19.9105L10.6105 21.7611L12.5463 23.6937C12.4395 24.17 12.4055 24.6598 12.4452 25.1463C12.4908 25.6987 12.6065 26.2431 12.7894 26.7663C13.0011 27.3734 13.2842 27.9533 13.6326 28.4937C14.0435 29.1297 14.5232 29.7185 15.0631 30.2495L26.0368 41.2232C26.1809 41.3723 26.3553 41.4886 26.5484 41.5642C26.7144 41.6235 26.8902 41.6503 27.0663 41.6432C27.2905 41.6259 27.5006 41.527 27.6568 41.3653L28.1968 40.8284C28.3166 40.6936 28.4002 40.5306 28.44 40.3547C28.4783 40.184 28.4762 40.0066 28.4337 39.8368C28.3643 39.5976 28.2285 39.383 28.0421 39.2179L26.7158 37.8789C26.6746 37.8415 26.6416 37.796 26.6187 37.7453C26.5958 37.6946 26.5835 37.6398 26.5826 37.5842C26.5817 37.5285 26.5922 37.4733 26.6135 37.4219C26.6348 37.3705 26.6664 37.324 26.7063 37.2853L26.9715 37.0705C27.0235 37.0198 27.0932 36.9914 27.1658 36.9914C27.2383 36.9914 27.308 37.0198 27.36 37.0705L29.381 39.0537C30.0442 39.7168 30.6326 39.8211 31.1463 39.3663L31.6831 38.8263C31.7648 38.7435 31.8349 38.65 31.8915 38.5484C31.9567 38.4284 31.9894 38.2934 31.9863 38.1568C31.98 37.9803 31.9336 37.8075 31.8505 37.6516C31.7296 37.4266 31.5728 37.2229 31.3863 37.0484L29.4347 35.1379C29.3539 35.0573 29.3082 34.948 29.3076 34.8338C29.307 34.7196 29.3515 34.6099 29.4315 34.5284L29.6273 34.3295C29.6649 34.2909 29.7099 34.2604 29.7597 34.2399C29.8095 34.2193 29.8629 34.2092 29.9168 34.2101C29.9706 34.211 30.0237 34.2228 30.0727 34.245C30.1218 34.2672 30.1658 34.2991 30.2021 34.3389L32.3179 36.4958C32.3905 36.5716 32.4884 36.6663 32.6147 36.78C32.7356 36.8932 32.8771 36.9822 33.0315 37.0421C33.1897 37.1055 33.3618 37.1262 33.5305 37.1021C33.7427 37.0568 33.9344 36.9437 34.0768 36.78L34.7589 36.0979C34.8406 36.0151 34.9107 35.9216 34.9673 35.82C35.0327 35.7 35.0653 35.565 35.0621 35.4284C35.0558 35.2557 35.0116 35.0864 34.9326 34.9326C34.834 34.7281 34.698 34.5439 34.5315 34.3895L32.4915 32.3937C32.4411 32.3433 32.4011 32.2833 32.3739 32.2174C32.3467 32.1514 32.3328 32.0807 32.3331 32.0093C32.3334 31.938 32.3478 31.8674 32.3756 31.8017C32.4033 31.7359 32.4438 31.6763 32.4947 31.6263L32.5705 31.5411C32.6131 31.4983 32.664 31.4647 32.7201 31.4423C32.7762 31.42 32.8363 31.4094 32.8967 31.4112C32.9571 31.4129 33.0164 31.4271 33.0711 31.4527C33.1258 31.4783 33.1747 31.5148 33.2147 31.56L34.9294 33.3095C34.9768 33.3568 35.0558 33.4358 35.1758 33.5432C35.3008 33.6566 35.4424 33.7504 35.5958 33.8211C35.7607 33.8969 35.9419 33.9305 36.1231 33.9189C36.3486 33.8897 36.5555 33.7784 36.7042 33.6063L37.2442 33.0663C37.3036 32.9991 37.3545 32.9249 37.3958 32.8453C37.4598 32.7249 37.4914 32.59 37.4873 32.4537L37.4905 32.4568ZM42.1389 19.7653L34.4337 12.06L31.5758 14.9179C30.5766 14.7089 29.5633 14.5748 28.5442 14.5168C27.9712 14.4842 27.3966 14.5001 26.8263 14.5642C26.2711 14.6267 25.7265 14.7615 25.2063 14.9653C24.6936 15.164 24.2279 15.4672 23.8389 15.8558L20.1315 19.5663L20.1252 19.5726C19.9585 19.7532 19.8324 19.9675 19.7558 20.2011L19.7526 20.2168C19.6858 20.4312 19.6685 20.658 19.7021 20.88C19.7575 21.1818 19.9106 21.457 20.1379 21.6632L20.6747 22.2C20.8405 22.3497 21.0415 22.455 21.2589 22.5063L21.2715 22.5095C21.4782 22.5548 21.6927 22.5493 21.8968 22.4937C22.1742 22.4099 22.4233 22.2515 22.6168 22.0358L25.9136 18.7389C26.1178 18.5355 26.3944 18.4213 26.6826 18.4213C26.9708 18.4213 27.2473 18.5355 27.4515 18.7389L36.9 28.2032L37.0263 28.3295L37.2789 27.9505C37.6192 27.4229 37.8958 26.8568 38.1031 26.2642C38.2824 25.7479 38.396 25.211 38.441 24.6663C38.461 24.3993 38.461 24.1312 38.441 23.8642C38.4287 23.7088 38.4502 23.5526 38.5042 23.4063L42.1389 19.7653ZM32.3115 35.1316L32.3242 35.1221C32.2886 35.1473 32.2517 35.1705 32.2137 35.1916C32.2454 35.1692 32.278 35.1481 32.3115 35.1284V35.1316Z" fill="currentColor"/>
            </svg>
            <span class="tooltip-text group-hover:opacity-100 ">Information We Collect</span>
        </button>
        <button data-modal-id="use-website" class="flex gap-4 items-center justify-center h-12 rounded-full p-6 bg-gray-900 text-purple-600 hover:text-black-950 hover:bg-purple-600 transition">
            <svg width="34" class=" text-purple-500" viewBox="0 0 61 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M52.2425 44.6793C48.6519 43.485 44.7913 42.5925 40.7281 42.015C41.2813 38.7657 41.5756 35.3606 41.6694 31.875H56.6788C56.3431 36.6019 54.755 40.9762 52.2425 44.6793ZM36.9388 55.4232C38.1875 52.4063 39.2094 49.1457 39.995 45.7107C43.3662 46.2094 46.5987 46.9463 49.6606 47.9138C46.2781 51.5194 41.8869 54.1725 36.9388 55.4232ZM32.3206 56.1581C31.7169 56.2012 31.115 56.25 30.5 56.25C29.885 56.25 29.285 56.2012 28.6794 56.1581C27.0838 52.8356 25.7919 49.1382 24.8356 45.2138C26.6994 45.0507 28.5875 44.955 30.5 44.955C32.4125 44.955 34.3006 45.0507 36.1663 45.2138C35.2081 49.1382 33.9162 52.8356 32.3206 56.1581ZM11.3394 47.9138C14.4013 46.9463 17.6338 46.2094 21.005 45.7107C21.7906 49.1457 22.8125 52.4063 24.0612 55.4232C19.1131 54.1725 14.7238 51.5194 11.3394 47.9138ZM8.75751 44.6793C6.24501 40.9762 4.65686 36.6019 4.32124 31.875H19.3306C19.4244 35.3606 19.7187 38.7657 20.2719 42.015C16.2087 42.5925 12.3481 43.485 8.75751 44.6793ZM8.75751 15.3207C12.3481 16.515 16.2087 17.4093 20.2719 17.985C19.7187 21.2343 19.4244 24.6394 19.3306 28.125H4.32124C4.65686 23.3981 6.24501 19.0238 8.75751 15.3207ZM24.0612 4.57684C22.8125 7.59371 21.7906 10.8543 21.005 14.2893C17.6338 13.7924 14.4013 13.0537 11.3394 12.0862C14.7238 8.48059 19.1131 5.82746 24.0612 4.57684ZM28.6794 3.8419C29.285 3.80065 29.885 3.75 30.5 3.75C31.115 3.75 31.7169 3.80065 32.3206 3.8419C33.9162 7.1644 35.2081 10.8637 36.1663 14.7862C34.3006 14.9493 32.4125 15.045 30.5 15.045C28.5875 15.045 26.6994 14.9493 24.8356 14.7862C25.7919 10.8637 27.0838 7.1644 28.6794 3.8419ZM37.9137 31.875C37.8125 35.1769 37.5125 38.4244 36.9481 41.5425C34.8369 41.3588 32.69 41.25 30.5 41.25C28.31 41.25 26.1631 41.3588 24.0537 41.5425C23.4875 38.4244 23.1875 35.1769 23.0881 31.875H37.9137ZM23.0881 28.125C23.1875 24.8231 23.4875 21.5756 24.0537 18.4575C26.1631 18.6412 28.31 18.75 30.5 18.75C32.69 18.75 34.8369 18.6412 36.9463 18.4575C37.5125 21.5756 37.8125 24.8231 37.9137 28.125H23.0881ZM49.6606 12.0862C46.5987 13.0537 43.3662 13.7924 39.995 14.2893C39.2094 10.8543 38.1875 7.59371 36.9388 4.57684C41.8869 5.82746 46.2781 8.48059 49.6606 12.0862ZM52.2425 15.3207C54.755 19.0238 56.3431 23.3981 56.6788 28.125H41.6694C41.5756 24.6394 41.2813 21.2343 40.7281 17.985C44.7913 17.4093 48.6519 16.515 52.2425 15.3207ZM30.5 0C13.9325 0 0.5 13.4306 0.5 30C0.5 46.5694 13.9325 60 30.5 60C47.0675 60 60.5 46.5694 60.5 30C60.5 13.4306 47.0675 0 30.5 0Z" fill="currentColor"/>
            </svg>
            <span class="tooltip-text group-hover:opacity-100 ">Use of the Website</span>
        </button>
        <button data-modal-id="user-account" class="flex gap-4 items-center justify-center h-12 rounded-full p-6 bg-gray-900 text-purple-600 hover:text-black-950 hover:bg-purple-600 transition">
            <svg width="28" class=" text-purple-500" viewBox="0 0 45 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22.5 22.5C28.7132 22.5 33.75 17.4632 33.75 11.25C33.75 5.03681 28.7132 0 22.5 0C16.2868 0 11.25 5.03681 11.25 11.25C11.25 17.4632 16.2868 22.5 22.5 22.5Z" fill="currentColor"/>
                <path d="M45 41.25C45 35.0366 39.9634 30 33.75 30H11.25C5.03681 30 0 35.0366 0 41.25V52.5H45V41.25Z" fill="currentColor"/>
            </svg>
            <span class="tooltip-text group-hover:opacity-100 ">User Account</span>
        </button>
        <button data-modal-id="content-owner-licence" class="flex gap-4 items-center justify-center h-12 rounded-full p-6 bg-gray-900 text-purple-600 hover:text-black-950 hover:bg-purple-600 transition">
            <svg width="34" class=" text-purple-500" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.1" d="M25.5 38H13C10.2386 38 8 35.7615 8 33V8C8 5.23857 10.2386 3 13 3H35.5C38.2615 3 40.5 5.23857 40.5 8V43C40.5 45.7615 38.2615 48 35.5 48C32.7385 48 30.5 45.7615 30.5 43C30.5 40.2385 28.2615 38 25.5 38Z" fill="currentColor"/>
                <path d="M43 3H18C13.286 3 10.9289 3 9.46448 4.46447C8 5.92892 8 8.28595 8 13V21.75V38" stroke="currentColor" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M30.5 38V43C30.5 45.7615 32.7385 48 35.5 48C38.2615 48 40.5 45.7615 40.5 43V18V6.75C40.5 4.67893 42.179 3 44.25 3C46.321 3 48 4.67893 48 6.75C48 8.82107 46.321 10.5 44.25 10.5H41.75" stroke="currentColor" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M35.5 48H8C5.23857 48 3 45.7615 3 43C3 40.2385 5.23857 38 8 38H30.5" stroke="currentColor" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M18 13H30.5" stroke="currentColor" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M18 23H30.5" stroke="currentColor" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <span class="tooltip-text group-hover:opacity-100 ">Content Ownership and Licensing</span>
        </button>
        <button data-modal-id="limitation-liability" class="flex gap-4 items-center justify-center h-12 rounded-full p-6 bg-gray-900 text-purple-600 hover:text-black-950 hover:bg-purple-600 transition">
            <svg width="36" class=" text-purple-500" viewBox="0 0 61 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M30.5 0C47.0685 0 60.5 13.4315 60.5 30C60.5 46.5685 47.0685 60 30.5 60C13.9315 60 0.5 46.5685 0.5 30C0.5 13.4315 13.9315 0 30.5 0ZM30.1926 41.9589C27.5529 41.9589 25.4054 44.1064 25.4054 46.7461C25.4054 49.3858 27.5529 51.5333 30.1926 51.5333C32.8322 51.5333 34.9798 49.3858 34.9798 46.7461C34.9798 44.1064 32.8322 41.9589 30.1926 41.9589ZM36.5518 10H23.8333L26.9308 38.082H33.4544L36.5518 10Z" fill="currentColor"/>
            </svg>
            <span class="tooltip-text group-hover:opacity-100 ">Limitation of Liability</span>
        </button>
        <button data-modal-id="privacy" class="flex gap-4 items-center justify-center h-12 rounded-full p-6 bg-gray-900 text-purple-600 hover:text-black-950 hover:bg-purple-600 transition">
            <svg width="40" class=" text-purple-500" viewBox="0 0 61 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M30.5 28.8C28.7 28.8 27.5 30 27.5 31.8C27.5 33 28.4 33.9 29.3 34.2L28.4 38.4H32.3L31.4 34.2C32.6 33.9 33.2 33 33.2 31.8C33.5 30 32.3 28.8 30.5 28.8ZM30.8 15.9C28.7 15.9 26.6 17.4 26.6 19.5V24H34.7V19.5C34.4 17.4 32.9 15.9 30.8 15.9ZM30.5 6L9.5 15V24C9.8 37.2 18.2 48.9 30.5 53.7C42.8 48.9 51.2 37.2 51.5 24V15L30.5 6ZM42.5 39C42.5 40.8 41.3 42 39.5 42H21.5C19.7 42 18.5 40.8 18.5 39V27C18.5 25.2 19.7 24 21.5 24H22.4V19.5C22.7 15.3 26.3 12 30.5 12C34.7 12 38.3 15.3 38.6 19.5V24H39.5C41.3 24 42.5 25.2 42.5 27V39Z" fill="currentColor"/>
            </svg>
            <span class="tooltip-text group-hover:opacity-100 ">Privacy</span>
        </button>
        <button data-modal-id="termination" class="flex gap-4 items-center justify-center h-12 rounded-full p-6 bg-gray-900 text-purple-600 hover:text-black-950 hover:bg-purple-600 transition">
            <svg width="36" class=" text-purple-500" viewBox="0 0 61 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 30C0.5 34.08 1.3 37.96 2.9 41.64C4.5 45.32 6.62 48.52 9.26 51.24C11.9 53.96 15.1 56.1 18.86 57.66C22.62 59.22 26.5 60 30.5 60C34.5 60 38.38 59.22 42.14 57.66C45.9 56.1 49.1 53.96 51.74 51.24C54.38 48.52 56.5 45.32 58.1 41.64C59.7 37.96 60.5 34.08 60.5 30C60.5 25.92 59.7 22.04 58.1 18.36C56.5 14.68 54.38 11.48 51.74 8.76C49.1 6.04 45.92 3.92 42.2 2.4C38.48 0.88 34.58 0.08 30.5 0C26.42 0 22.54 0.8 18.86 2.4C15.18 4 11.98 6.12 9.26 8.76C6.54 11.4 4.42 14.6 2.9 18.36C1.38 22.12 0.58 26 0.5 30ZM8 30C8 25.28 9.4 20.96 12.2 17.04L43.52 48.36C39.56 51.12 35.22 52.5 30.5 52.5C26.42 52.5 22.66 51.5 19.22 49.5C15.78 47.5 13.04 44.78 11 41.34C8.96 37.9 7.96 34.12 8 30ZM17.48 11.7C21.44 8.9 25.78 7.5 30.5 7.5C34.58 7.5 38.34 8.52 41.78 10.56C45.22 12.6 47.96 15.32 50 18.72C52.04 22.12 53.04 25.88 53 30C53 34.76 51.6 39.1 48.8 43.02L17.48 11.7Z" fill="currentColor"/>
            </svg>
            <span class="tooltip-text group-hover:opacity-100 ">Termination</span>
        </button>
        <button data-modal-id="changes" class="flex gap-4 items-center justify-center h-12 rounded-full p-6 bg-gray-900 text-purple-600 hover:text-black-950 hover:bg-purple-600 transition">
            <svg width="32" class=" text-purple-500" viewBox="0 0 49 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M38.825 34.7557C35.9943 38.652 31.8525 41.396 27.1608 42.4835C22.469 43.571 17.5425 42.929 13.2862 40.6752C9.02988 38.4217 5.7297 34.708 3.992 30.2162C2.2543 25.7245 2.19575 20.7567 3.82715 16.2253C5.45855 11.6939 8.6703 7.90337 12.8724 5.55012C17.0744 3.19687 21.9845 2.43895 26.7005 3.41557C31.4165 4.39222 35.6218 7.03785 38.5438 10.8664C41.4655 14.6949 42.9078 19.4492 42.6053 24.2557M42.6053 24.2557L46.3553 20.5057M42.6053 24.2557L38.8553 20.5057" stroke="currentColor" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M22.6448 13V23L30.1448 30.5" stroke="currentColor" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <span class="tooltip-text group-hover:opacity-100 ">Changes to the Terms</span>
        </button>
        <button data-modal-id="governing-law" class="flex gap-4 items-center justify-center h-12 rounded-full p-6 bg-gray-900 text-purple-600 hover:text-black-950 hover:bg-purple-600 transition">
            <svg width="32" class=" text-purple-500" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.48195 48H45.4819M25.4819 48V13M25.4819 13C28.2434 13 30.4819 10.7614 30.4819 8M25.4819 13C22.7206 13 20.482 10.7614 20.482 8M30.4819 8C30.4819 5.23857 28.2434 3 25.4819 3C22.7206 3 20.482 5.23857 20.482 8M30.4819 8H45.4819M20.482 8H5.48195M10.482 38C14.2633 38 17.3911 35.896 17.9072 32.3782C17.9399 32.1552 17.9563 32.0438 17.9435 31.7965C17.9347 31.6258 17.8768 31.314 17.8239 31.1512C17.7472 30.916 17.6542 30.7508 17.4683 30.42L10.482 18L3.49563 30.42C3.32325 30.7265 3.23708 30.8797 3.15735 31.146C3.1083 31.3097 3.05153 31.7028 3.05225 31.8735C3.0534 32.1515 3.0702 32.2248 3.10385 32.3715C3.74125 35.15 6.80213 38 10.482 38ZM40.4819 38C44.2634 38 47.3911 35.896 47.9071 32.3782C47.9399 32.1552 47.9564 32.0438 47.9434 31.7965C47.9346 31.6258 47.8769 31.314 47.8239 31.1512C47.7471 30.916 47.6541 30.7508 47.4681 30.42L40.4819 18L33.4956 30.42C33.3234 30.7265 33.2371 30.8797 33.1574 31.146C33.1084 31.3097 33.0516 31.7028 33.0521 31.8735C33.0534 32.1515 33.0701 32.2248 33.1039 32.3715C33.7414 35.15 36.8021 38 40.4819 38Z" stroke="currentColor" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <span class="tooltip-text group-hover:opacity-100 ">Governing Law</span>
        </button>
        <button data-modal-id="contact" class="flex gap-4 items-center justify-center h-12 rounded-full p-6 bg-gray-900 text-purple-600 hover:text-black-950 hover:bg-purple-600 transition">
            <svg width="34" class=" text-purple-500" viewBox="0 0 61 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M60.5 6.32081V43.4939L45.995 25.3644L43.2387 27.5702L57.8849 45.8797H3.11512L17.7613 27.5702L15.005 25.3644L0.5 43.4939V6.32078L30.4982 32.3346L60.5 6.32081ZM60.4979 0V1.64459L30.4997 27.6583L0.501406 1.64462V0H60.4979Z" fill="currentColor"/>
            </svg>
            <span class="tooltip-text group-hover:opacity-100 ">Contact</span>
        </button>
    </div> 
</main>
<div id="modal" class="select-none fixed inset-0 z-50 hidden bg-black/70 backdrop-blur-sm flex justify-center items-center px-4">
  <div class="bg-white dark:bg-black-900 rounded-2xl shadow-lg max-w-3xl w-full max-h-[90vh] overflow-auto p-6 relative">
    <button id="modal-close" class="absolute top-4 right-4 text-xl text-purple-600 hover:text-purple-400">
      &times;
    </button>
    <div id="modal-content" class="text-black dark:text-white-muted flex flex-col gap-8"></div>
  </div>
</div>
<script type="module">
    import initAddonScript from '{{ asset("js/asset/orIcon.js") }}';
    initAddonScript();
</script>
<script type="module">
    import initAddonScript from '{{ asset("js/asset/latBarreModal.js") }}';
    initAddonScript();
</script>
{% endblock %}
