{% extends 'base.html.twig' %}

{% set title = "Email Address Confirmed !"%}
{% set meta_description = "Your email address has been successfully verified. You can now fully enjoy our services." %}

{% block og_type %}website{% endblock %}
{# --- Directive SEO pour robots --- #}
{% block meta_robots %}noindex, nofollow{% endblock %}

{# --- A ajouter une fois le site terminé --- #}
{# {% block og_image %}/images/og-default.jpg{% endblock %} #} 
{# {% block twitter_image %}/images/twitter-default.jpg{% endblock %} #}

{% block body %}
    <section id="content" class="w-full h-screen flex flex-col justify-center items-center gap-6 bg-gradient-to-b from-green-200 to-green-50 dark:from-gray-700 dark:to-black-950 transition-colors duration-300">
        <svg width="96" height="96" viewBox="0 0 24 24" fill="none" class="text-blue-500 dark:text-blue-500">
            <path fill="currentColor" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 
            10-10S17.52 2 12 2zm-1 15-5-5 1.41-1.41L11 14.17l7.59-7.59L20 8l-9 9z"/>
        </svg>
        <h1 class="text-3xl md:text-4xl font-bold text-blue-500 dark:text-blue-500">Email Address Confirmed</h1>
        <p class="text-center max-w-xl text-grey-700 dark:text-grey-300">
            Thank you for confirming your address! You can now log in and fully enjoy our add-ons collections.
        </p>
        <a href="{{ path('app_login') }}" class="mt-4 px-8 py-3 bg-blue-500 hover:bg-gray-600 text-white rounded-md transition-colors duration-300">
            Continue
        </a>
    </section>
    <script>
    window.addEventListener('DOMContentLoaded', () => {
        // Scroll vers une div précise si besoin
        const element = document.getElementById('content');
        if (element) {
            element.scrollIntoView({ behavior: 'smooth', block: 'center' });
        }
    });
    </script>
{% endblock %}
