<!DOCTYPE html>
<html class=" dark">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
        <link rel="shortcut icon" href="/favicon/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
        <link rel="manifest" href="/favicon/site.webmanifest" />
        
        <!-- Font Awesome  CDN -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {# Tailwind CND #}
        <script src="https://cdn.tailwindcss.com"></script>
        {# Anime.js #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>

        <script>
          tailwind.config = {
            darkMode: 'class',
            theme: {
              extend: {
                colors: {
                  black: {
                    950: "#0F0F10",
                    900: "#1B1B1C"
                  },
                  white: "#FFFFFF",
                  grey: {
                    950: "#25282D",
                    900: "#30353B",
                    850: "#E9EDEE",
                    800: "#1D2E3D",
                    500: "#BBBBBB",

                  },
                  blue: {
                    500: "#0585DC"
                  }

                }
              }
            }
          }
        </script>
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body id="top" class="transition-colors duration-300 ease-in-out 
     bg-slate-50 text-black-950 dark:bg-black-950 dark:text-white">

      {% include "partials/header.html.twig" %}    
      {% block body %}{% endblock %}
      {% include "partials/footer.html.twig" %}  
    </body>
    <script defer>
      document.addEventListener('turbo:load', () => {
        const toggle = document.getElementById('theme-toggle');
        if (!toggle || toggle.dataset.bound === "true") return;
        const html = document.documentElement;
        toggle.dataset.bound = "true";
        toggle.addEventListener('click', () => {
          html.classList.toggle("dark");
          localStorage.setItem('theme', html.classList.contains('dark') ? 'dark' : 'light');
        });
        if (localStorage.getItem('theme') === 'dark') {
          document.documentElement.classList.add('dark');
        }
      })
    </script>
</html>

