<div class=" w-full my-2 mb-6 flex items-center justify-center" >
    <a title="Go up" href="#" onclick="event.preventDefault(); document.getElementById('navbar').scrollIntoView({ behavior: 'smooth' });"  class=" mb-4">
        <svg id="scroll-arrow" width="34" viewBox="0 0 34 44" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M17.0571 2.06372L2.05713 17.0637M17.0571 2.06372L32.0571 17.0637M17.0571 2.06372V28.3137M17.0571 42.0637V35.8137" stroke="currentColor" stroke-width="3.75" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </a>
</div>

<script type="module">
    import initAddonScript from '{{ asset("js/asset/upArrow.js") }}';
    initAddonScript();
</script>